table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid darkslategray;
    text-align: left;
    padding: 5px;
  }
  
  .stripes:nth-child(odd) {
    background-color: lightgray;
    
  }

  button {
    float: right;
    margin-left: 5px;
  }